<div class="container-fluid mt-5 about-style" id="aboutid">
      <div class="row">
        
            <div class="col-md-10 col-12 mx-auto">
            <h1 class="text-center main-heading">About Us</h1>
            <p class="text-center sub-heading mb-5">grow your business with us</p>
          <div class="row"> 
            <div class="col-md-6 col-12 hero-text">
                <figure>
                  <img src="images/about.svg" alt="Hero section image">
                </figure>
            </div>
            <div class="col-md-6 col-12 hero-text d-flex justify-content-center align-items-start flex-column">
              <h1>WE ARE THE PROFESSIONAL DEVELOER✌️</h1>
              <p>Welcome to <span class="bold-style">Impact Developer</span>, Our team of experts is committed to delivering stunning designs, seamless functionality, and top-notch user experiences that drive online success for your business</p>
              <button class="btn-style btn-primary">Read More</button>
            </div>
            {{!-- right side --}}
           
          </div>
        </div>
      </div>
    </div>